@mixin f_body {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 400;
}

@mixin f_headline {
  font-family: $font-family-headline;
  font-style: normal;
  font-weight: 400;
}

@mixin f_label {
  font-family: $font-family-label;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin f_button {
  font-family: $font-family-label;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

