// Main Site Layout

html {
  overflow-y: hidden;
  background-color: #17172f;
}

body {
  // overflow-x: hidden;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;

  .layout {
    // display: flex;
    // flex-direction: column;
    // min-height: 100%;
    // min-height: 100vh;
    background-color: transparent;

    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-position: 100% 0%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: radial-gradient(transparent 0%, rgba(0, 8, 47, 0.87) 70%), url(/assets/images/sf_map2.png);
      transform-origin: 100% 0%;
      // transform: scale(2) translate(17vw, -14vh);
      transform: scale(2) translate(calc((var(--scroll, 0) * 30vw) + 17vw), calc((var(--scroll, 0) * -30vh) - 14vh));
      // transition: 0.2s ease-in-out transform, 0.2s linear filter;
      filter: hue-rotate(calc(var(--scroll, 0) * 360deg)) saturate(0.7) opacity(0.4);
      z-index: -1;
    }

    .header,
    .footer {
      flex: none;
    }

    .main {
      // display: flex;
      // flex-direction: column;
      // flex: 1 0 auto;
      z-index: 5;
      height: 100vh;
      overflow-x: hidden;
      // overflow-y: scroll;
      @include scrollable;
      @include custom-scrollbar(rgba(128,128,128,0.5));
      scroll-snap-type: y mandatory;
      background-color: transparent;
      position: relative;

      &::after {
        content: '';
        display: block;
        height: 0px;
        visibility: hidden;
      }
    }
  }

  // if we're making an interior element look/act like a pseudo-modal,
  // .main has to be in front of .header
  @include short-touchscreen {
    &.modal-open {
      .layout .main {
        overflow: hidden;
        z-index: 101;
      }
    }
  }
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
}

section {
  color: white;
  position: relative;
  // position: fixed;
  // top: 100vh;   // below the viewport, out of view
  // left: 0;
  width: 100vw;
  padding: 150px 0 20px;

  // reconfigure for iPhone landscape
  @include phone-landscape {
    padding: 80px 0 20px;
  }

  // if the viewport is tall enough, do the full-page-height slide effect
  min-height: 100vh;
  @media (min-height: breakpoint-min(md, $breakpoints)) {
    height: 100vh;
  }
  // otherwise normal flow, but make sure contents are vertically centered
  @media (max-height: breakpoint-min(md, $breakpoints) - 1px) {
    display: flex;
    flex-direction: column;

    & > * {
      flex: 1;
    }
  }


  // @media (min-height: breakpoint-min(lg, $breakpoints)) {
  //   @include mq(md) {
  //     padding: 200px 0 100px;

  //   }

  //   @include mq(lg) {
  //     padding: 250px 0;
  //   }
  // }


  z-index: 1;
  // transition-duration: 0s;
  // transition-timing-function: ease-in-out;
  // transition-property: top;
  scroll-snap-align: start;

  // &.transitioning {
  //   transition-duration: 0.2s;
  // }
}
