h1,
h2,
h3,
h4,
h5,
h6 {
  @include f_headline;
  margin: 0 0 1rem;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
}

h1 {
  @include sr-only;
  font-size: 4.5rem;
  // text-rendering: optimizeLegibility;
}

h2,
.h2 {
  font-size: 1.5rem;
  @include smooth-font;

  @include mq(md) {
    font-size: 2.125rem;
  }

  @include mq(lg) {
    font-size: 2.75rem;
  }
}

h3,
.h3 {
  font-size: 1.125rem;
  line-height: 1.2;

  @include mq(md) {
    font-size: 1.75rem;
  }

  @include mq(lg) {
    font-size: 2rem;
  }
}

h4,
.h4 {
  @include f_body;
  font-size: 1rem;
  line-height: 1.1;

  @include mq(md) {
    font-size: 1.375rem;
  }

  @include mq(lg) {
    font-size: 1.75rem;
  }
}

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1;
  @include f_label;
}

p {
  margin: 0 0 1rem;
}

a {
  color: rgba(#aeff9a, 0.85);
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: rgba(#aeff9a, 1);
  }
}
