h1,
h2,
h3,
h4,
h5,
h6 {
  @include f_headline;
  margin: 0 0 1rem;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
}

h1 {
  @include sr-only;
  font-size: 4.5rem;
  // text-rendering: optimizeLegibility;
}

h2 {
  font-size: 3.75rem;
  @include smooth-font;
}

h3 {
  font-size: 3rem;
  line-height: 1.1;
}

h4 {
  font-size: 2rem;
  line-height: 1;
}

h5 {
  font-size: 1.125rem;
  line-height: 1;
  @include f_label;
}

p {
  margin: 0 0 1rem;
}

a {
  color: rgba(#aeff9a, 0.85);
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: rgba(#aeff9a, 1);
  }
}

// .lead {
//   font-size: 1.5rem;
//   font-weight: 300;
//   line-height: 1.4;

//   @include mq(md) {
//     font-size: 2rem;
//   }
// }
