<footer class="footer" role="contentinfo">
  <div class="footer__inner container">
    {% include "../assets/images/cr-logo.svg" %}
    <p class="emphasize tagline">Hand-crafted software from San Francisco, California.</p>
    <p class="legal">© <span id="footer-date">{{ build.timestamp | dateToFormat('yyyy') }}</span> Code Refactory. All Rights Reserved.</p>
  </div>
</footer>
