<footer class="footer" role="contentinfo">
  <div class="footer__inner container">
    <div class="footer__logo">
      {% include "../assets/images/cr-logo.svg" %}
    </div>
    <div class="footer__content">
      <h6 class="tagline">Hand-crafted software from San Francisco, California.</h6>
      <p class="legal">© <span id="footer-date">{{ build.timestamp | dateToFormat('yyyy') }}</span> {{ build.orgName }}. All Rights Reserved.</p>
    </div>
  </div>
</footer>
