<nav class="nav js-nav" role="navigation" tabindex="-1">

  {# + Menu Toggle Button #}
  <button
    class="nav__toggle js-nav-toggle"
    aria-expanded="false"
    aria-controls="nav-menu"
  >
    <span class="sr-only">toggle menu</span>
    <span class="menuicon">
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
    </span>
  </button>
  {# / Menu Toggle Button #}

  {# + Nav Links #}
  <ul class="nav__menu js-nav-menu" id="nav-menu">
    {% for link in navigation %}
      <li class="nav__item">
        <a class="nav__link" href="{% if page.url !== '/' %}/{% endif %}#{{ link.hash }}" aria-current="{{ 'false' if loop.index0 else 'true' }}">
          <span>{{ link.text }}</span>
          <span class="nav__link__indicator"></span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
  {# / Nav Links #}

</nav>
