<nav class="nav js-nav" role="navigation" tabindex="-1">

  {# + Menu Toggle Button #}
  <button
    class="nav__toggle js-nav-toggle"
    aria-expanded="false"
    aria-controls="nav-menu"
  >
    <span class="sr-only">toggle menu</span>
    <span class="menuicon">
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
      <span class="menuicon__bar"></span>
    </span>
  </button>
  {# / Menu Toggle Button #}

  {# + Nav Links #}
  <ul class="nav__menu js-nav-menu" id="nav-menu">
    {#%
      {%- for item in collections.all | eleventyNavigation -%}
        {%- set isCurrent = (item.url == page.url) -%}
        {%- set isParent = item.url != '/' and item.url in page.url -%}
      {%- endfor -%}
    %#}
    <li class="nav__item{% if false %} nav__item--active{% endif %}">
      <a class="nav__link" href="#work" aria-current="false">
        <span>Work</span>
        <span class="nav__link__indicator"></span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#experience" aria-current="false">
        <span>Experience</span>
        <span class="nav__link__indicator"></span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#about" aria-current="false">
        <span>About</span>
        <span class="nav__link__indicator"></span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#contact" aria-current="false">
        <span>Contact</span>
        <span class="nav__link__indicator"></span>
      </a>
    </li>
  </ul>
  {# / Nav Links #}

</nav>
