//--------------------
// SCSS MIXINS
//--------------------

@mixin mq($name) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin mq-down($name) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (max-width: ($min - 1px)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin phone-landscape {
  @include mq-down(md) {
    @media (orientation: landscape) {
      @content;
    }
  }
}

@mixin tablet-landscape {
  @include mq(lg) {
    @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
      @content;
    }
  }
}

@mixin touchscreen {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin short-touchscreen {
  @media (hover: none) and (pointer: coarse) and (max-height: breakpoint-min(lg, $breakpoints) - 1px) {
    @content;
  }
}

@mixin short-desktop {
  @media (hover: hover) and (min-width: breakpoint-min(md, $breakpoints)) and (max-height: breakpoint-min(lg, $breakpoints) - 1px) {
    @content;
  }
}

@mixin very-short-screen {
  @media (max-height: breakpoint-min(sm, $breakpoints) - 1px) {
    @content;
  }
}

@mixin spacious-desktop {
  @media (hover: hover) {
    @media (min-width: breakpoint-min(xl, $breakpoints)) and (min-height: breakpoint-min(xl, $breakpoints)) {
      @content;
    }
  }
}

// convenience mixins for targeting Microsoft browsers
@mixin ie10plus {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin ie11 {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin ms-edge {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

@mixin hyphenate() {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

@mixin coverall() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin scrollable() {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

@mixin custom-scrollbar($color) {
  // scrollbar customizations
  // https://css-tricks.com/the-current-state-of-styling-scrollbars/#an-updated-version-of-a-fairly-consistently-styled-scrollbar-across-firefox-safari-chrome
  scrollbar-width: auto;
  scrollbar-color: $color transparent;

  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    background-clip: content-box;   // transparent border won't work without this
    border: 3px solid transparent;
    border-radius: 15px;
  }
}

@mixin button-reset() {
  border: 0;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
}

@mixin smooth-font {
  @supports (-webkit-font-smoothing: antialiased) {
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
  }
}

@mixin text-shadow($opacity: 0.5) {
  text-shadow: 1px 2px 8px rgba($black, $opacity);
}

@mixin br-to-space {
  br {
    content: ' ';

    &:after {
      content: ' ';
    }
  }
}
