.footer {
  font-size: 0.875rem;
  width: 100%;
  padding: #{$spacing-y / 2} 0;
  background-color: rgba($black, 0.26);
  position: relative;

  @include mq(md) {
    padding: $spacing-y 0;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding-right: 2rem;
    display: none;

    svg {
      width: $header-logo-width;
      height: $header-logo-width;
      display: block;
      position: relative;
      left: 15px;
      top: 0;
      // filter: invert(1);
      opacity: 0.8;

      @include mq(lg) {
        left: 0;
      }

      path {
        fill: white;
      }
    }

    @include mq(md) {
      display: block;
    }
  }

  &__content {
    .tagline {
      font-size: 0.8125rem;
      margin: 0 0 6px;

      @include mq(sm) {
        font-size: 1rem;
      }

      @include mq(md) {
        margin: 0;
      }
    }

    p {
      margin: 0;
      opacity: 0.6;

      @include mq-down(md) {
        font-size: 0.75rem;
      }
    }
  }

}

// html.no-cssfilters .footer__logo svg path {
//   fill: black;
// }
