@keyframes header {
  from { transform: opacity(0); }
  to   { transform: opacity(1); }
}

.header {
  width: 100%;
  padding: #{$spacing-y / 2} 0;
  position: fixed;
  z-index: 100;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-name: header;

  @include mq(md) {
    padding: $spacing-y 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    position: relative;

    #header-logo-viewport {
      display: none;
    }

    .header__logo {
      &:before {
        content: '';
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 3rem + 10px);
        background-color: $brand-blue; // #182631, #610000, #4c1e35, darkred, lightslategray, skyblue, steelblue
        left: 0;
        top: -3rem;
        box-shadow: 0px 0px 24px 4px rgba($white, 0.6);
        border: 1px solid rgba($black, 0.35);
        border-top-width: 0;
        display: block;

        @include mq(md) {
          width: calc(100% + 30px);
          height: calc(100% + 3rem + 15px);
        }

        @include mq(lg) {
          left: -15px;
        }
      }

      svg {
        width: #{$header-logo-width * 5 / 8};
        height: #{$header-logo-width * 5 / 8};
        display: block;
        position: relative;
        left: 10px;
        top: 0;
        // filter: drop-shadow(0px 0px 6px rgba($black, 0.7));

        @include mq(md) {
          width: $header-logo-width;
          height: $header-logo-width;
          left: 15px;
        }

        @include mq(lg) {
          left: 0;
        }

        path {
          fill: white;
        }
      }
    }
  }
}
