@keyframes nav-selected-stretch {
  0%, 100% {
    width: 4px;
  }
  50%, 80% {
    width: 45%;
  }
}
@keyframes nav-selected-move {
  0% {
    left: 0;
  }
  82% {
    left: 6px;
  }
  100% {
    left: calc(50% - 2px);
  }
}

@mixin nav-selected-animation {
  animation-name: nav-selected-stretch, nav-selected-move;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(1,0,.6,1);
  animation-delay: .05s;
  animation-fill-mode: both;
  animation-iteration-count: 1;

  @include ie10plus {
    animation: none;
    left: calc(50% - 2px);
    transform: none;
  }
}

.nav {
  &__menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.85);
      z-index: 0;
      display: none;
    }
  }

  &__item {
    position: relative;
    z-index: 1;
  }

  &__link {
    @include f_label;
    color: $white;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1;
    padding: 0.875rem 1.5rem;
    display: block;
    opacity: 0.88;
    transition: 0.2s ease-in-out opacity;

    &:hover,
    &:focus {
      color: $white;
    }

    &__indicator {
      width: 100%;
      height: 4px;
      display: block;
      position: relative;
      top: 4px;
      left: 0;
      opacity: 0;
      transition: opacity .3s step-end;

      &:after {
        content: '';
        display: block;
        width: 4px;
        height: 100%;
        background-color: #79ff7d;
        border-radius: 2px;
        position: relative;
        top: 0;
        left: 0;
      }
    }

    @include hover-focus {
      text-decoration: none;
      opacity: 1;
    }

    // selected link is to the left
    &[data-face-left="true"] &__indicator {
      transform: rotateY(0deg);
    }

    // selected link is to the right
    &[data-face-left="false"] &__indicator {
      transform: rotateY(180deg);
    }

    // selected link
    &[aria-current="true"] {
      opacity: 1;

      .nav__link__indicator {
        transition-timing-function: step-start;
        opacity: 1;

        &:after {
          @include nav-selected-animation;
          animation-direction: normal;
          opacity: 1;
        }
      }
    }

    // non-selected link
    &[aria-current="false"] {
      .nav__link__indicator {
        &:after {
          @include nav-selected-animation;
          animation-direction: reverse;
        }
      }
    }
  }

  &__toggle {
    @include button-reset;
    padding: 0 20px;
    position: relative;
    z-index: 2;
  }

  // mobile menu appearance
  @include mq-down(md) {
    &__item {
      text-align: center;
    }

    &.is-open &__menu {
      display: block;

      &:before {
        display: block;
      }
    }
  }

  // desktop menu appearance
  @include mq(md) {
    &__toggle,
    &__item:first-child {
      display: none;
    }

    &__menu {
      display: flex;
      position: static;
      background-color: transparent;
    }
  }
}
