@keyframes bounce {
  0%, 10%, 25%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  30% {
    transform: translateY(-15px);
  }
}

$gradient-stop0: rgba(0, 8, 27, 0.27);

#home {
  z-index: 10;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient($gradient-stop0 0%, transparent 85%);
    z-index: -1;
    display: block;
  }

  .intro__layout {
    height: 100%;

    h2 {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        padding: 30px 0;

        @include phone-landscape {
          padding-bottom: 0;
        }

        &:last-child {
          svg {
            width: 35px;
            height: auto;
            animation: 4s infinite bounce;

            @media (prefers-reduced-motion: reduce) {
              animation: none;
            }
          }
        }

        // &.sub {
        //   font-size: 2rem;
        //   font-family: $font-family-base;
        // }
      }

      em {
        font-style: normal;
        color: $orange;
      }

      @include mq-down(md) {
        @include br-to-space;
      }
    }
  }
}

// fallback for no-cssfilters and no-cssvariables
html.no-cssfilters,
html.no-cssvariables {
  #home:before {
    background-image: linear-gradient($gradient-stop0 0%, transparent 85%), linear-gradient($hue-rotate-stop0 0%, $hue-rotate-stop1 100%);
  }
}
