$story-count: 4;
$preview-width: 70vw;

#work {
  // height matters with this slide
  height: 100vh; // only slide where fixed height is required

  @include short-desktop {
    min-height: breakpoint-min(lg, $breakpoints);
  }

  padding: 0;
  background-color: #eef;
  z-index: 20;

  .stories__layout {
    display: flex;
    height: 100%;

    .block--story {
      flex-basis: #{(100vw - $preview-width) / ($story-count - 1)};
    }

    @for $i from 0 to $story-count {
      &[data-preview="#{$i}"] {
        .block--story.story#{$i} {
          flex-basis: $preview-width;

          .story-bg-img {
            filter: brightness(1) saturate(1);
          }

          .story-content {
            opacity: 1;
            transform: translateY(0);
            transition-duration: 0.35s;
            transition-delay: 0.2s;
          }
        }
      }

      &[data-open="#{$i}"] {
        .block--story {
          flex-basis: 0 !important;

          &.story#{$i} {
            flex-basis: 100vw !important;

            .story-content .story-content__carousel {
              &:before {
                width: 100vw;
              }

              .story-content__slides {
                height: 100%;
                opacity: 1;
                transition-delay: 0.4s;
                overflow: visible;
              }

              button.open-story {
                opacity: 0;
                transition-delay: 0s;
                z-index: -1;
              }

              button.close-story {
                height: auto;
                padding: 7px 18px 9px;
                opacity: 1;
                z-index: 6;
                transition-delay: 0.4s;
              }

              // if not enough vertical space, make it look like a modal
              @include short-touchscreen {
                &:before {
                  position: fixed;
                  height: 100vh;
                  right: -10vw;
                  top: -10vw;
                  z-index: 100;
                }

                button.close-story {
                  z-index: 102;
                  position: fixed;
                  top: -4vw;
                  right: -3vw;
                }

                .story-content__slides {
                  position: fixed;
                  background-color: black;
                  z-index: 101;
                  width: calc(100% + 10vw);
                  height: calc(100% + 10vw);
                  top: -5vw;
                  left: -5vw;
                  padding: 5vw;
                  overflow-x: hidden;
                  @include scrollable;
                  @include custom-scrollbar(rgba(128,128,128,0.5));

                  & > button,
                  .progress-indicator {
                    display: none;
                  }

                  ul {
                    top: 0;
                    height: auto;

                    li {
                      position: relative;
                      height: auto;
                      margin-bottom: 6rem;
                      opacity: 1;

                      @include ie10plus {
                        // *sigh*
                        // force it
                        .story-slide__text .story-slide__text-inner {
                          width: 100%;
                        }
                      }

                      @include mq-down(sm) {
                        display: block;

                        .story-slide__image {
                          margin-bottom: 1.5rem;
                        }
                      }

                      &:last-child {
                        margin-bottom: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .block--story {
    height: 100%;
    flex: 1 1;
    position: relative;
    transition: 0.2s ease-in-out flex-basis;
    overflow: hidden;

    &:last-child {
      border-right: none;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: linear-gradient(rgba(0, 8, 27, 0.87) 0%, transparent 85%);
      border-right: 10px solid rgba(182, 182, 200, 0.7);
      transition: 0.2s linear filter;
      z-index: 1;
    }

    .story-bg-img {
      width: 100%;
      height: 100%;
      position: relative;
      object-fit: cover;
      z-index: 0;
      filter: brightness(0.5) saturate(0.2);
    }

    .story-content {
      color: white;
      width: calc(100% - 20vw);
      height: calc(100% - 20vw);
      position: absolute;
      top: 10vw;
      left: 10vw;
      opacity: 0;
      transform: translateY(30px);
      transition-timing-function: ease-out;
      transition-property: opacity, transform;
      transition-duration: 0s;
      transition-delay: 0s;
      z-index: 2;
      display: flex;
      flex-direction: column;

      @include touchscreen {
        @media (orientation: portrait) {
          height: calc(100% - 50vw);
        }
        @media (orientation: landscape) {
          height: calc(100% - 25vw);
        }
      }

      @include short-desktop {
        height: calc(100% - 200px);
        top: 150px;
      }

      .story-content__intro {
        flex: none;
        padding: 4.5rem 0 0;

        h2 {
          @include text-shadow;
        }

        .h5 {
          color: #203333;
          background-color: rgba(174,255,154,0.7);
          display: inline-block;
          margin-bottom: 0.75rem;
          padding: 5px 5px 3px;
        }

        p {
          @include text-shadow(0.7);
          font-size: 1.125rem;
          line-height: 1.375rem;
          margin-bottom: 1.8rem;
        }

        @include mq(md) {
          padding: 3rem 0;

          p {
            margin-bottom: 2.5rem;
          }

          @include mq-down(lg) {
            @media (orientation: portrait) {
              padding: 5rem 0 0;
            }
          }
        }

        @include short-desktop {
          padding: 1rem 0;
        }
      }

      // make some room on iPhone landscape
      @include phone-landscape {
        .story-content__intro {
          padding-top: 1.2rem;

          h2,
          .h5 {
            margin-bottom: 0.3rem;
          }

          p {
            margin-bottom: 1.2rem;
          }
        }
      }

      .story-content__carousel {
        flex: 1;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: -11vw;
          width: 0;
          height: 100%;
          background-color: rgba($black, 0.65);
          z-index: -1;
          transition-timing-function: ease-in-out;
          transition-property: width;
          transition-duration: 0.2s;
          transition-delay: 0.2s;
        }

        .story-content__slides {
          width: 100%;
          height: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          overflow: hidden;
          opacity: 0;
          transition-timing-function: ease-out;
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-delay: 0s;

          ul {
            width: 100%;
            height: calc(100% - 8rem);
            position: relative;
            top: 4rem;
            left: 0;
            overflow: hidden;

            li {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              opacity: 0;
              transition: opacity 0.15s ease-out 0s;

              .story-slide__image {
                flex: 1 0.5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                  max-width: 100%;
                  max-height: 100%;
                  opacity: 0;
                  transition: opacity 0.15s ease-out;

                  @include ie10plus {
                    // https://stackoverflow.com/a/36828291
                    flex-shrink: 0;
                  }

                  &[data-loaded="true"] {
                    opacity: 1;
                  }
                }
              }

              .story-slide__text {
                padding: 0 5%;
                flex: 1;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: flex-start;
                overflow-y: auto;

                .story-slide__text-inner {
                  width: 100%;
                  margin: auto;
                }

                p:last-child {
                  margin-bottom: 0;
                }
              }

              &.active {
                opacity: 1;
                transition-delay: 0.15s;
                z-index: 10;
              }
            }
          }

          $slide-nav-btn-width: 80px;
          button.slide-nav {
            width: $slide-nav-btn-width;
            height: $slide-nav-btn-width;
            position: absolute;
            top: calc(50% - #{$slide-nav-btn-width / 2});
            background-color: rgba($white, 0.2);
            border-radius: 50%;
            opacity: 1;
            transition: background-color 0.2s ease-out, opacity 0.2s ease-out;

            &:hover {
              background-color: rgba($white, 0.35);
            }

            &[disabled="disabled"] {
              opacity: 0;
            }

            &.prev-slide {
              left: calc(-5vw - #{$slide-nav-btn-width / 2});

              svg {
                transform: rotate(90deg);
              }
            }

            &.next-slide {
              right: calc(-5vw - #{$slide-nav-btn-width / 2});

              svg {
                transform: rotate(-90deg);
              }
            }
          }

          .progress-indicator {
            width: 99vw;
            height: 6px;
            position: absolute;
            top: 0;
            left: -9vw;
            background-color: rgba(174, 255, 154, 0.3);

            span {
              overflow: hidden;
              text-indent: -100%;
              width: 0;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(174, 255, 154, 0.6);
              transition: width 0.3s ease-out;
            }
          }
        }

        button.open-story {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 1;
          transition-timing-function: ease-out;
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-delay: 0.4s;
          z-index: 6;
        }

        button.close-story {
          font-size: 2rem;
          line-height: 1;
          height: 0;
          padding: 0;
          position: absolute;
          top: 2vw;
          right: -7vw;
          z-index: -1;
          opacity: 0;
          transition-timing-function: ease-out;
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-delay: 0s;
        }
      }
    }
  }
}

// fallback for no-cssfilters and no-cssvariables
html.no-cssfilters,
html.no-cssvariables {
  #work {
    &:before {
      background-image: linear-gradient($hue-rotate-stop2 0%, $hue-rotate-stop2 100%);
    }

    .block--story {
      background-color: #151313;

      &:before {
        transition-property: opacity;
        opacity: 0.2;
      }
    }

    .stories__layout {
      @for $i from 0 to $story-count {
        &[data-preview="#{$i}"] {
          .block--story.story#{$i}:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
