$story-count: 4;
$preview-width: 70vw;

#work {
  height: 100vh; // only slide where fixed height is required
  padding: 0;
  background-color: #eef;
  z-index: 20;

  .stories__layout {
    display: flex;
    height: 100%;

    .block--story {
      flex-basis: #{(100vw - $preview-width) / ($story-count - 1)};
    }

    @for $i from 1 through $story-count {
      &[data-preview="#{$i}"] {
        .block--story.story#{$i} {
          flex-basis: $preview-width;

          &:before {
            filter: brightness(1) saturate(1);
          }

          .story-content {
            opacity: 1;
            transform: translateY(0);
            transition-duration: 0.35s;
            transition-delay: 0.2s;
          }
        }
      }

      &[data-open="#{$i}"] {
        .block--story {
          flex-basis: 0 !important;

          &.story#{$i} {
            flex-basis: 100vw !important;

            .story-content .story-content__carousel {
              &:before {
                width: 100vw;
              }

              .story-content__slides {
                opacity: 1;
                transition-delay: 0.4s;
              }

              button.open-story {
                opacity: 0;
                transition-delay: 0s;
                z-index: -1;
              }

              button.close-story {
                opacity: 1;
                z-index: 6;
                transition-delay: 0.4s;
              }

              // if not enough vertical space, make it look like a modal
              @include short-touchscreen {
                &:before {
                  position: fixed;
                  height: 100vh;
                  right: -10vw;
                  top: -10vw;
                  z-index: 100;
                }

                button.close-story {
                  z-index: 102;
                  position: fixed;
                  top: -4vw;
                  right: -3vw;
                }

                .story-content__slides {
                  position: fixed;
                  background-color: black;
                  z-index: 101;
                  width: calc(100% + 10vw);
                  height: calc(100% + 10vw);
                  top: -5vw;
                  left: -5vw;
                  padding: 5vw;
                  overflow-x: hidden;
                  @include scrollable;
                  @include custom-scrollbar(rgba(128,128,128,0.5));

                  & > button,
                  .progress-indicator {
                    display: none;
                  }

                  ul {
                    top: 0;
                    height: auto;

                    li {
                      position: relative;
                      height: auto;
                      margin-bottom: 6rem;
                      opacity: 1;

                      @include mq-down(sm) {
                        display: block;

                        .story-slide__image {
                          margin-bottom: 1.5rem;
                        }
                      }

                      &:last-child {
                        margin-bottom: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .block--story {
    height: 100%;
    flex: 1 1;
    position: relative;
    transition: 0.2s ease-in-out flex-basis;
    overflow: hidden;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-right: 10px solid rgba(182, 182, 200, 0.7);
      filter: brightness(0.5) saturate(0.2);
      transition: 0.2s linear filter;
      z-index: 1;
    }

    &:last-child {
      border-right: none;
    }

    .story-content {
      color: white;
      width: calc(100% - 20vw);
      height: calc(100% - 20vw);
      position: absolute;
      top: 10vw;
      left: 10vw;
      opacity: 0;
      transform: translateY(30px);
      transition-timing-function: ease-out;
      transition-property: opacity, transform;
      transition-duration: 0s;
      transition-delay: 0s;
      z-index: 2;
      display: flex;
      flex-direction: column;

      .story-content__intro {
        flex: 1;
        padding: 4.5rem 0 0;

        h2 {
          @include text-shadow;
        }

        .h5 {
          color: #203333;
          background-color: rgba(174,255,154,0.7);
          display: inline-block;
          padding: 5px 5px 3px;
        }

        p {
          @include text-shadow(0.7);
          font-size: 1.125rem;
          line-height: 1.375rem;
          margin-bottom: 1.8rem;
        }

        @include mq(md) {
          padding: 3rem 0;

          p {
            margin-bottom: 2.5rem;
          }

          @include mq-down(lg) {
            @media (orientation: portrait) {
              padding: 5rem 0 0;
            }
          }
        }
      }

      // make some room on iPhone landscape
      @include phone-landscape {
        width: calc(100% - 10vw);
        left: 5vw;

        .story-content__intro {
          padding-top: 2.2rem;

          p {
            margin-bottom: 1.2rem;
          }
        }
      }

      .story-content__carousel {
        flex: 4;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: -11vw;
          width: 0;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.65);
          z-index: -1;
          transition-timing-function: ease-in-out;
          transition-property: width;
          transition-duration: 0.2s;
          transition-delay: 0.2s;
        }

        .story-content__slides {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          // overflow: hidden;
          opacity: 0;
          transition-timing-function: ease-out;
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-delay: 0s;

          ul {
            width: 100%;
            height: calc(100% - 8rem);
            position: relative;
            top: 4rem;
            left: 0;
            overflow: hidden;

            li {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              opacity: 0;
              transition: opacity 0.15s ease-out 0s;

              .story-slide__image {
                flex: 1 0.5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                  max-width: 100%;
                }
              }

              .story-slide__text {
                padding: 0 5%;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }

              &.active {
                opacity: 1;
                transition-delay: 0.15s;
              }
            }
          }

          $slide-nav-btn-width: 80px;
          button.slide-nav {
            width: $slide-nav-btn-width;
            height: $slide-nav-btn-width;
            position: absolute;
            top: calc(50% - #{$slide-nav-btn-width / 2});
            background-color: rgba(255,255,255,0.2);
            border-radius: 50%;
            opacity: 1;
            transition: background-color 0.2s ease-out, opacity 0.2s ease-out;

            &:hover {
              background-color: rgba(255,255,255,0.35);
            }

            &[disabled="disabled"] {
              opacity: 0;
            }

            &.prev-slide {
              left: calc(-5vw - #{$slide-nav-btn-width / 2});

              svg {
                transform: rotate(90deg);
              }
            }

            &.next-slide {
              right: calc(-5vw - #{$slide-nav-btn-width / 2});

              svg {
                transform: rotate(-90deg);
              }
            }
          }

          .progress-indicator {
            width: 99vw;
            height: 6px;
            position: absolute;
            top: 0;
            left: -9vw;
            background-color: rgba(174, 255, 154, 0.3);

            span {
              overflow: hidden;
              text-indent: -100%;
              width: 0;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(174, 255, 154, 0.6);
              transition: width 0.3s ease-out;
            }

            // border: 1px solid green;
            // position: absolute;
            // height: 24px;
            // width: 120px;
            // bottom: calc(2rem - 12px);
            // left: calc(50% - 60px);

            // background-image: radial-gradient(#fafafa 4px, transparent 5px);
            // background-position: 0 0;
            // background-repeat-x: repeat;
            // background-repeat-y: no-repeat;
            // background-size: 24px 24px;
          }
        }

        button.open-story {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 1;
          transition-timing-function: ease-out;
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-delay: 0.4s;
          z-index: 6;
        }

        button.close-story {
          font-size: 2rem;
          line-height: 1;
          padding: 7px 18px 9px;
          position: absolute;
          top: 2vw;
          right: -7vw;
          z-index: -1;
          opacity: 0;
          transition-timing-function: ease-out;
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-delay: 0s;
        }
      }
    }
  }
}

// fallback for no-cssfilters and no-cssvariables
html.no-cssfilters,
html.no-cssvariables {
  #work {
    &:before {
      background-image: linear-gradient($hue-rotate-stop1 0%, $hue-rotate-stop2 100%);
    }

    .block--story {
      background-color: #151313;

      &:before {
        transition-property: opacity;
        opacity: 0.2;
      }
    }

    .stories__layout {
      @for $i from 1 through $story-count {
        &[data-preview="#{$i}"] {
          .block--story.story#{$i}:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
