#contact {
  padding: 250px 150px;
  // background-color: #fee;
  z-index: 50;

  .contact__layout {
    // display: flex;
    text-align: center;

    p {
      font-size: 1.125rem;

      &.contact a {
        display: flex;
        justify-content: center;

        .envelope {
          margin-right: 0.5rem;
        }
      }
    }
  }

  // .clients-tools__block {
  //   flex: 1;
  //   padding-right: 50px;
  // }
}
