#about {
  z-index: 40;

  .about__layout {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h2 {
      margin-bottom: 2rem;

      @include mq(lg) {
        font-size: 2.75rem;
      }
    }
  }

  .staff__layout {
    display: flex;
    flex-wrap: wrap;
  }

  .block--staff {
    text-align: center;
    flex: 1 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phone-landscape {
      flex-basis: 25%;
    }

    img {
      border: 4px solid rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      width: 80px;
      margin-bottom: 1rem;
    }

    h3 {
      margin-bottom: 1rem;
    }

    p {
      color: lightgray;
      display: none;
    }

    @include mq(md) {
      padding: 20px;

      img {
        width: 120px;
        border-width: 5px;
      }

      p {
        display: block;
        font-size: 0.75rem;
      }
    }

    @include mq(lg) {
      padding: 30px;

      img {
        width: 160px;
        border-width: 7px;
      }

      p {
      font-size: inherit;
      }
    }

    @include tablet-landscape {
      padding: 20px;
      flex-basis: 25%;

      img {
        width: 120px;
        border-width: 5px;
      }

      p {
        display: block;
        font-size: 0.75rem;
      }
    }

  }
}

// fallback for no-cssfilters and no-cssvariables
html.no-cssfilters,
html.no-cssvariables {
  #about:before {
    background-image: linear-gradient($hue-rotate-stop3 0%, $hue-rotate-stop4 100%);
  }
}
