---
layout: base
---

<style>
  main { scroll-snap-type: none !important; }
</style>

<div id="animations">

  <section class="container">
    <!-- + gears -->
    <div id="animation-gears">
      <div class="animation" id="gear-box">
        {% for i in range(0, 3) -%}
        <div class="gear gear{{ i + 1 }}">
          <div class="gear-face gear-front"></div>
          <div class="gear-face gear-back"></div>
          <div class="cogs">
            {% for j in range(0, 12) -%}
              <div class="cog">
                <div class="cog-face"></div>
                <div class="cog-top"></div>
                <div class="cog-left"></div>
                <div class="cog-right"></div>
              </div>
            {%- endfor %}
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
    <!-- / gears -->

    <!-- + jigsaw -->
    <div id="animation-jigsaw">
      <div class="animation" id="jigsaw-box">
        {% include "../src/assets/images/animations/icon-chat-bubble-right.svg" %}
        {% include "../src/assets/images/animations/icon-chat-bubble-left.svg" %}
        {% include "../src/assets/images/animations/icon-chat-bubble-right.svg" %}
        {% include "../src/assets/images/animations/icon-chat-bubble-left.svg" %}
      </div>
    </div>
    <!-- / jigsaw -->

    <!-- + monitor -->
    <div id="animation-monitor">
      <div class="animation" id="monitor-box">
        <div class="screen">
          <div class="screen-face"></div>
          <div class="screen-right"></div>
          <div class="screen-bottom"></div>
        </div>
        <div class="base">
          <div class="neck">
            <div class="neck-face"></div>
            <div class="neck-right"></div>
          </div>
          <div class="foot">
            <div class="foot-face"></div>
            <div class="foot-front"></div>
            <div class="foot-right"></div>
          </div>
        </div>
        <div class="gem">
          {% for i in range(0, 6) -%}
          <div class="face">
            <div class="face-top"></div>
            <div class="face-bottom"></div>
          </div>
          {%- endfor %}
          <div class="gem-top"></div>
        </div>
      </div>
    </div>
    <!-- / monitor -->
  </section>

</div>
