---
layout: base
eleventyNavigation:
  key: Home
---

<section id="home" data-anchor="home">
  <div class="intro__layout container">
    <h1>{{ build.orgName }}</h1>
    <h2>
      <span>
        Code Refactory is a small collective of 
        <br/>
        web software developers who emphasize 
        <br/>
        craftsmanship and close collaboration 
        <br/>
        in delivering high-value software.
      </span>
      <span>This is how we solve problems.</span>
      <span>{% icon "icon-down-arrow" %}</span>
    </h2>
  </div>
</section>

<section id="work" data-anchor="work">
  <div class="stories__layout">
    {% for story in stories %}
      <style>
        #work .block--story.story{{ loop.index }}:before {
          background-image: linear-gradient(rgba(0, 8, 27, 0.87) 0%, transparent 85%), url(/assets/images/stories/{{ story.imageDir }}/hero.jpg);
        }
      </style>
      <div class="block--story story{{ loop.index }}">
        <div class="story-content">
          <div class="story-content__intro">
            <h5>{{ story.client }}</h5>
            <h3>{{ story.summary | safe }}</h3>
            <p>{{ story.narrative }}</p>
          </div>
          <div class="story-content__carousel">
            <button class="open-story">Learn more</button>
            <button class="close-story">&times;</button>
            <ul>
              <li>story panels go inside this overlay.</li>
              <li>carousel is similar to current site.</li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section id="experience" data-anchor="experience">
  <div class="experience__layout container">
    <div class="block--clients">
      <h2>We've built things for</h2>
      <ul>
        {% for clientLogo in experience.clients %}
          <li>
            {% include "../src/assets/images/logos/" + clientLogo.filename + ".svg" %}
            <span class="sr-only">{{ clientLogo.title }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="block--tools">
      <h2>Using tools like</h2>
      <ul>
        {% for toolLogo in experience.tools %}
          <li>
            {% include "../src/assets/images/logos/" + toolLogo.filename + ".svg" %}
            <span class="sr-only">{{ toolLogo.title }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="about" data-anchor="about">
  <div class="container">
    <div class="about__layout">
      <h2>Experienced, adaptable, local. Meet your team.</h2>
      <div class="staff__layout">
        {% for staff in about %}
          <div class="block--staff">
            <img src="/assets/images/about/{{ staff.headshot }}" alt="{{ staff.name }}" />
            <h4>{{ staff.name }}</h4>
            <p>{{ staff.bio }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="contact" data-anchor="contact">
  <div class="container">
    <div class="contact__layout">
      <h2>Say hey.</h2>
      <p>Let us know how we can partner with you to help move your project forward expertly and quickly.</p>
      <p class="contact">
        <a href="mailto:info@coderefactory.com">
          <span class="envelope">{% icon "icon-envelope" %}</span>
          <span>info@coderefactory.com</span>
        </a>
      </p>
    </div>
  </div>
  {% include "footer.njk" %}
</section>
